<form class="container" [formGroup]="employeeForm" (ngSubmit)="submit()">

    <div class="form-group">
        <div>
            <label for="name">Name</label>
        </div>
        <div>
            <input formControlName="name" id="name" type="text" class="form-control">
            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                <div c *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
                <div *ngIf="f['name'].errors && f['name'].errors['minlength']">Name should be 3 character.</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <label for="jobTitle">Job Title</label>

        </div>
        <div>
          
            <select formControlName="jobTitle" id="jobTitle" type="text" class="form-control">
                <option *ngFor="let val of jobTypes" [ngValue]="val.uId">{{val.name}}</option>

            </select>
        </div>

    </div>

    <div class="form-group">
        <div>
            <label for="age">Age</label>
        </div>
        <div>
            <input formControlName="age" id="age" type="number" class="form-control">
            <div *ngIf="f['age'].touched && f['age'].invalid" class="alert alert-danger">
                <div *ngIf="f['age'].errors && f['age'].errors['required']">Age is required.</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <label for="startDate">Start Date</label>
        </div>
        <div>
            <input formControlName="startDate" id="startDate" type="Date" class="form-control">
            <div *ngIf="f['startDate'].touched && f['startDate'].invalid" class="alert alert-danger">
                <div *ngIf="f['startDate'].errors && f['startDate'].errors['required']">Start Date is required.</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <label for="endDate">End Date</label>
        </div>
        <div>
            <input formControlName="endDate" id="endDate" type="date" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div>
        </div>
        <div>
            <button class="submit-button" [disabled]="employeeForm.invalid" type="submit">Submit</button>
            <button class="close-button" (click)="closeModal()" type="submit">Close</button>
        </div>
    </div>

</form>